.outer{
    height: 600px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.board{
    height: 600px;
    width: 600px;
    background-image: url(board.png);
    background-size: cover;
}
.row1, .row2, .row3 { 
    display: flex;
    justify-content: space-evenly;
}

#box1, #box2, #box3{
    height: 150px;
    width: 150px;
    /* background-color: blue; */
    background-image: url(clear.png);
    background-size: cover;
    margin-top: 20px;
}
#box4, #box5, #box6{
    height: 150px;
    width: 150px;
    /* background-color: blue; */
    background-image: url(clear.png);
    background-size: cover;
    position: relative;
    margin-top: 50px;
}
#box7, #box8, #box9{
    height: 150px;
    width: 150px;
    /* background-color: blue; */
    background-image: url(clear.png);
    background-size: cover;
    position: relative;
    margin-top: 50px;
}
#box1, #box4, #box7 {
    position: relative;
    right: 20px;
}
#box9 {
    position: relative;
    left: 20px;
}
.outer-text{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    height: 200px;
    width: 600px;
    background-image: url(Xturn.png);
    background-size: cover;
    border: 1px solid black;
}
button{
    height: 50px; 
    width: 80px;
    position: relative;
    left: 37%;
} 
@media (max-width: 600px) {
    .outer{
        margin-top: 50px;
        width: 100vw;
        height: 57vh;
    }
    .board {
        height: 80%;
        width: 98%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -20px;
        right: 20px;
    }
    #box1, #box2, #box3{
        height: 80px;
        width: 80px;
        margin-top: 20px;
    }
    #box4, #box5, #box6{
        height: 80px;
        width: 80px;
        margin-top: 50px;
    }
    #box7, #box8, #box9{
        height: 80px;
        width: 80px;
        margin-top: 50px;
    }
    .outer-text{
        margin-top: -50px;
        height: 80px;
        width: 100vw;
    }
    .text{
        height: 100%;
        width: 70%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (min-width: 423px) and (max-width: 600px){
        #box4, #box5, #box6 {
            position: relative;
            bottom: -20px;
        }
        #box7, #box8, #box9 {
            position: relative;
            bottom: -20px;
        }

    }
}